<header>
    <nav>
        <a href="/">Myapp:)</a>
        <ul>
            <li><a href="/author">author</a></li>
            <li><a href="/author/new">add author</a></li>
            
        </ul>
    </nav>
</header>