<h1>Search Authors</h1>
<form method="GET" action="/author">
<label for="name">Name</label>
<input type="text" name="name" value="<%= searchOption.name %>" >
<button type="sumit">Search</button>
</form>
<br>
<% authors.forEach(element =>{ %>
    <%- element.name %><br>
<% }); %>